$color-bg: #c0a886;
$color-text: #1a1a1a;
$color-primary: #5a3820;
$color-accent: #936039;
$color-panel-bg: #d1c6a6;
$color-input-bg: #e2dbc8;
$color-button-bg: #b8a282;
$color-button-hover: #d0bd97;
$color-border: #94866d;
$color-white: #ffffff;

$font-main: 'Inter', sans-serif;
$font-header: 'Cinzel', serif;